



/* 
1. Default Styles.
2. Inherited, or direct
3. specification
4. Type (tag, class, id )
5. inline styles
6. !important

*/


ul li {
    color: orange !important;
}
    


li {
    color: purple !important;
}

#item-id {
    color: red;
}


#item-id {
    color: blue;
}